<!DOCTYPE html>
<html>

<head>
    <title>Project 1</title>
</head>

<body>
    <div id="nav">
        <div class="col-6 center">
            <a href="/"><span class="button">Home</span></a>
            <a href="/users"><span class="button">Users</span></a>
            <a href="/contact"><span class="button">Add Contact</span></a>
        </div>
        <div class="col-6 center">
            <h1>Project 1</h1>
        </div>
    </div>

    <%- body %>

</body>

</html>